body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: block;
  position: absolute;
  border: 6px solid #bbada0;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  z-index: 1;
}
.main-container {
  width: 500px;
}
div {
  display: block;
}
section {
  display: flex;
  margin: 0;
  justify-content: center;
  width: fit-content;
}
.blc {
  display: inline-block;
  background-color: #cdc1b4;
  border: 7.5px solid #bbada0;
  border-radius: 12px;
  margin: 0;
  width: 110px;
  height: 110px;
}
.tile-container {
  position: absolute;
  z-index: 2;
}
.bg {
  display: block;
  position: relative;
  background-color: #bbada0;
  width: 500px;
  height: 500px;
  margin: 6px;
}
.innerBlock {
  position: absolute;
  box-sizing: border-box;
  border: 12.5px solid;
  border-radius: 4px;
  margin: 13.5px;
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 85px;
  transition: transform 200ms ease-in-out;
}
.newTile {
  opacity: 0.9;
}

.merge {
  visibility: hidden;
}
.blc2 {
  background-color: #eee6db;
  border-color: #eee6db;
  color: #797367;
}
.blc4 {
  background-color: #ece0c8;
  border-color: #ece0c8;
  color: #797367;
}
.blc8 {
  background-color: #efb27c;
  border-color: #efb27c;
  color: #f2f4ec;
}
.blc16 {
  background-color: #f3966a;
  border-color: #f3966a;
  color: #f2f4ec;
}
.blc32 {
  background-color: #f07d65;
  border-color: #f07d65;
  color: #f2f4ec;
}
.blc64 {
  background-color: #f46042;
  border-color: #f46042;
  color: #f2f4ec;
}
.blc128 {
  background-color: #eacf76;
  border-color: #eacf76;
  color: #f2f4ec;
}
.blc256 {
  background-color: #edcb67;
  border-color: #edcb67;
  color: #f2f4ec;
}
.blc512 {
  background-color: #ecc85a;
  border-color: #ecc85a;
  color: #f2f4ec;
}
.blc1024 {
  background-color: #e7c257;
  border-color: #e7c257;
  color: #f2f4ec;
}
.blc2048 {
  background-color: #e8be4e;
  border-color: #e8be4e;
  color: #f2f4ec;
}

.p-1-1 {
  transform: translate(0px, 0px);
}
.p-1-2 {
  transform: translate(125px, 0px);
}
.p-1-3 {
  transform: translate(250px, 0px);
}
.p-1-4 {
  transform: translate(375px, 0px);
}
.p-2-1 {
  transform: translate(0px, 125px);
}
.p-2-2 {
  transform: translate(125px, 125px);
}
.p-2-3 {
  transform: translate(250px, 125px);
}
.p-2-4 {
  transform: translate(375px, 125px);
}
.p-3-1 {
  transform: translate(0px, 250px);
}
.p-3-2 {
  transform: translate(125px, 250px);
}
.p-3-3 {
  transform: translate(250px, 250px);
}
.p-3-4 {
  transform: translate(375px, 250px);
}
.p-4-1 {
  transform: translate(0px, 375px);
}
.p-4-2 {
  transform: translate(125px, 375px);
}
.p-4-3 {
  transform: translate(250px, 375px);
}
.p-4-4 {
  transform: translate(375px, 375px);
}
